{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Myems</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
    <div id="chart_container" style="width:100%; height:400px;"></div>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}'"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script> 
    <!-- you can download a copy of highcharts minified version and ensure its within your static folder-->
    <script>
    $(function() {
        $('#chart_container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Employee Department Stats'
            },
            xAxis: {
                categories: [
                  'Departments',
                  {% for data in empDepartments %}
                    '{‌{data.department_name}}',
                  {% endfor %}
                ], 
                title: {
                  text:null
                }
            },
            yAxis: {
//                <!--you can loop your categories dynamically here if you wish, the key is to ensure your backend data conforms to highcharts data format --> 
                title: {
                    text: 'Total Employees in each department'
                }
            },
            series: [
                {% for data in empDepartments %} {
                  name: '{‌{data.department_name}}',
                  data: [{‌{data.total}}]
                },
                {% endfor %}
            ]
        });
    });
    </script>
</body>
</html>